<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New transaction</title>
</head>
<body>
<form id="form" action="http://localhost:5000/pending_transactions" method="POST">
    <input name="from" type="text" placeholder="From" required="required"><br>
    <input name="to" type="text" placeholder="To" required="required"><br>
    <input name="amount" type="number" placeholder="Amount" required="required"><br>
    <input class="button" type="submit">
</form>
</body>
</html>